<a href="https://colab.research.google.com/github/pavanghai/Python_Tash/blob/master/Task_WA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###WEEKEND ACTIVITY ON DATA STRUCTURES

In [ ]:
# 1.Create a list of the 10 elements of four different types of Data Types like int, string, complex, and float.
t_wa01_list = [2, 'numbers',10j, 5.5, 'from', 10 , 20, 30.5, 20.5, 50j]

In [ ]:
# 2. Create a list of size 5 and execute the slicing structure
t_wa02_list = range(10,51,10)
t_wa02_list = list(t_wa02_list)
print (t_wa02_list, ": full list without indexing")
print (t_wa02_list[:], ": full list using blank index")
print (t_wa02_list[1:3], ": list using start and end index")
print (t_wa02_list[::2], ": full list using blank index, skiping 1 value")

In [ ]:
# 3. Create a list of given structure and 
# run x=[100,200,300,400,500,[1,2,3,4,5,[10,20,30,40,50],6,7,8,9],600,700,800] 
# Access list [1, 2, 3, 4] Access list [600, 700] Access list [100, 300, 500, 600, 800] 
# Access list [[800, 700, 600, [1, 2, 3, 4, 5, [10, 20, 30, 40, 50], 6, 7, 8, 9], 500, 400, 300, 200, 100]] 
# Access list [10] Access list [ ]
t_wa03_list = [100,200,300,400,500,[1,2,3,4,5,[10,20,30,40,50],6,7,8,9],600,700,800]
print (t_wa03_list[5][:4])
print (t_wa03_list[6:8])
print (t_wa03_list[::2])
print (t_wa03_list[::-1])
print (t_wa03_list[5][5][0])
print (t_wa03_list)

[1, 2, 3, 4]
[600, 700]
[100, 300, 500, 600, 800]
[800, 700, 600, [1, 2, 3, 4, 5, [10, 20, 30, 40, 50], 6, 7, 8, 9], 500, 400, 300, 200, 100]
10
[100, 200, 300, 400, 500, [1, 2, 3, 4, 5, [10, 20, 30, 40, 50], 6, 7, 8, 9], 600, 700, 800]

In [ ]:
# 4.Create a list of thousand numbers using range and xrange and see the difference between each other.
t_wa04_msg = ''' python 3 Range is same as xrange in python 2.7 and below
'''
print (t_wa04_msg)
t_wa04_listRang = [*range(1,1001)]
print (len(t_wa04_listRang), "\nDont want to use 1000 numbers so using len function")

 python 3 Range is same as xrange in python 2.7 and below

1000
Dont want to use 1000 numbers so using len function

In [ ]:
# 5. How Tuple is beneficial as compared to the list?
t_wa05_msg = ''' Since tuples are immutable Its faster to performe and lists are mutable '''
print (t_wa05_msg)

 Since tuples are immutable Its faster to performe and lists are mutable

In [ ]:
# 6. Write a program in Python to iterate through the list of numbers in the 
# range of 1,100 and print the number which is divisible by 3 and a multiple of 2.
t_wa06_list = [*range(1,101)]
# for i in range(t_wa06_list):
#   if t_wa06_list[i] % 3==0:
#     print (t_wa06_list[i], " is divisible by 3")

for i in range(1,101):
  if i % 3==0:
    print (i, " is divisible by 3")
  elif i % 2==0:
    print (i, " is multiple of 2")

In [ ]:
# 7. Write a program in Python to reverse a string and print only the vowel 
# alphabet if it exists in the string with their index.
t_wa07_inputString = input("Enter a String :")
t_wa07_inputString [::-1]
t_wa07_vowal = ['aeiouAEIOU']
for i in t_wa07_inputString:
  print (t_wa07_vowal,end=" ")

Enter a String :This is a StRRING
T h i s   i s   a   S t R R I N G

In [ ]:
# 8. Write a program in Python to iterate through the 
# string “hello my name is Abcde” and print the string which has even length of the word.

In [ ]:
# 9. Write a program in python to print the pair of numbers whose sum is equal 
# to result number that is let's say 8. x=[1,2,3,4,5,6,7,8,9,-1]

In [ ]:
'''
10. Write a program in Python to complete the following task: Create two different 
lists as in even_list and odd_list Ask the user to enter the number in the 
range of 1,50 and make sure if the entered number is even appended it to the 
even_list and if the entered number is odd append it to the odd list. Keep that 
in mind you can only add 5 items in each list Make sure once you entered the total 
5 elements calculate the sum of the list and return the maximum out of the list.
'''

In [ ]:
'''
11. Write a program to find out the occurrence of a specific word from an 
alphanumeric statement. Example: 12abcbacbaba344ab

          Output: a=5 b=5 c=2 make sure you should avoid the numbers in you logic
'''

In [ ]:
# 12. Generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10).